/*****************************/
/*****************************/
/* GENERAL DE TOT EL WEBSITE */
/*****************************/
/*****************************/
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato';
	font-weight: 400;
	background: rgb(208, 254, 254);
	font-size: 1em;
	line-height: 1.5em;
	color: rgb(0, 59, 74);
}


/*****************************/
/* CAPÇALERA                 */
/*****************************/
/* Aspecte */
header {
	background: rgb(0, 0, 0);
	height: 160px;
	width: 100%;
	left: 0;
	top: 0;
	font-size: 0.8rem;
	color: rgb(255, 255, 255);
	padding: 5px;
}

/* Logo */
#logo-header {
	float: left;

	text-decoration: none;
}

#logo-header img {
	height: 150px;
}

/* Llista de Navegació */
#main-header nav {
	float: left;
	padding-left: 30px;
}

#main-header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 40px;
}

#main-header nav ul li {
	display: inline-block;
	line-height: 80px;
}

#main-header nav ul li a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
	color: rgb(255, 255, 255);
}


.hero {
	background: url('../img/jw_wallpaper.jpg');
	height: 55vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	color: #FFFFFF;
}

.hero img {
	object-fit: contain;
}

.hero-text {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 47%;
	font-size: 4em;
	line-height: 1;
	font-weight: 900;
}

/*****************************/
/* FOOTER                    */
/*****************************/
/* Aspecte */
footer {
	background: rgb(0, 59, 74);
	height: 200px;
	width: 100%;
	left: 0;
	top: 0;
	font-size: 0.8rem;
	color: rgb(255, 255, 255);
}

.left_footer {
	background: rgb(0, 59, 74);
	padding-top: 40px;
	padding-left: 40px;
	float: left;
	width: 50%;
	text-align: left;
}

.right_footer {
	background: rgb(0, 59, 74);
	padding-top: 40px;
	padding-right: 40px;
	float: left;
	width: 50%;
	text-align: right;
}




/* Combo de Navegació */

.right_footer select {
	background-color: #fff;
	border: 0;
	border-radius: 5px;
	font-size: 14px;
	margin-left: 10px;
	padding: 5px 15px 5px 15px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}


/* Efectes de Navegació Responsive */
@media (max-width: 960px) {

	.left_footer,
	.right_footer {
		width: 100%;
		text-align: center;
		padding: 10px;
	}

}



/*****************************/
/*****************************/
/* PÀGINA DE INDEX			 */
/*****************************/
/*****************************/

/* Secció del HERO (Part 1) */
.hero {
	background-image: url('../img/jw_wallpaper.jpg');
	height: 55vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	color: #FFFFFF;
}

.hero-text {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 47%;
	font-size: 4em;
	line-height: 1;
	font-weight: 900;
}

/* Contenidor de l'Index, disseny responsive i les seves especificitats */
.body-container_index {
	width: 60%;
	margin: 0 auto;
	overflow: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.row_index:after {
	content: "";
	display: table;
	clear: both;
}

.column_index {
	float: left;
	width: 50%;
}

.body-container_index h2 {
	padding-top: 20px;

	font-size: 3em;
	line-height: 1.25em;
}

.body-container_index p {
	padding-right: 40px;
	font-size: 1.25em;
	line-height: 1.25em;
}

.body-container_index input {
	width: 100%;
	padding: 10px;
	background: white;
}

.body-container_index input {
	border: 1px solid rgb(229, 225, 254);
	border-radius: 5px;
}

.body-container_index textarea {
	border: 1px solid rgb(229, 225, 254);
	border-radius: 5px;
}

.body-container_index input[type=button] {
	background-color: rgb(0, 59, 74);
	color: white;
	text-decoration: none;
	margin: 4px 2px;
	width: 250px;
}

.body-container_index input[type=button]:hover {
	background-color: rgb(191, 12, 240);
}

.body-container_index label {
	display: block;
	margin-bottom: 10px;
	font-size: 0.8em;
	font-weight: 400;
}

.body-container_index img {
	width: 70%;
	display: inline-block;
}

.retrat img {
	clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.oscars img {
	clip-path: polygon(50% 2.45%, 64.36% 25.02%, 98.89% 25.02%, 67.33% 45.05%, 86.8% 79.85%, 50% 60%, 13.03% 79.5%, 32.77% 45.05%, 1.68% 25.02%, 35.64% 25.02%);
}

/* Punts de ruptura pel disseny responsive segons la seva amplada */
/* Amplada Tablet*/
@media screen and (max-width: 960px) {
	.body-container_index {
		width: 90%;
	}

	.column_index {
		width: 100%;
	}
}

/* Amplada Mòbil */
@media screen and (max-width: 600px) {
	.column_index {
		width: 100%;
	}
}



/*****************************/
/*****************************/
/* PÀGINA DE CATEGORIA		 */
/*****************************/
/*****************************/

/* Contenidor del categoria, disseny responsive i les seves especificitats */
.body-container_categoria {
	width: 95%;
	padding: 20px;
	margin: 0 auto;
	overflow: auto;
}

.categoria_column {
	float: left;
	width: 25%;
	padding: 20px;
}

.categoria_row:after {
	content: "";
	display: table;
	clear: both;
}

.body-container_categoria h2 {
	padding-left: 20px;

	font-size: 2em;
	line-height: 1.2em;
}

/* Images dels categorias, amb els cuadres de texte a sobre */
.img_categoria {
	background-color: rgb(255, 255, 255);
	margin: auto;
	width: 100%;
	position: relative;
	text-align: center;
}

.img_categoria img {
	width: 100%;
	display: inline-block;
}


/* Estils dels textes del categoria */
.article_categoria {
	background-color: rgb(255, 255, 255);
}

.texte_categoria {
	background-color: rgb(255, 255, 255);
	margin: auto;
	width: 100%;
	padding-left: 20px;
	padding-bottom: 20px;
}

.texte_categoria h3 {

	font-size: 1.8em;
	line-height: 1.2em;
}

.texte_categoria h3 a {
	color: rgb(0, 59, 74);
	text-decoration: none;
}

.texte_categoria h3 a:hover {
	color: rgb(0, 0, 255);
	text-decoration: none;
}

.texte_categoria p {
	font-size: 1.2em;
	line-height: 1.2em;
}

.autor_categoria {
	font-size: 0.8rem;
	color: rgb(158, 157, 171);
	margin: auto;
	width: 100%;
	padding-left: 20px;
}



/* Punts de ruptura pel disseny responsive segons la seva amplada */
/* Amplada Tablet*/
@media screen and (max-width: 960px) {

	.categoria_column,
	.categoria_column_50 {
		width: 50%;
	}
}

/* Amplada Mòbil*/
@media screen and (max-width: 600px) {

	.categoria_column,
	.categoria_column_50 {
		width: 100%;
	}
}






/*******************************/
/*******************************/
/* PÀGINA DETALL DE CATEGORIA */
/*******************************/
/*******************************/

/* Contenidor de la detall de categoria, disseny responsive i les seves especificitats */
.body-container_detall {
	width: 95%;
	padding: 20px;
	margin: 0 auto;
	overflow: auto;
}

.body-container_detall img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.row_detall:after {
	content: "";
	display: table;
	clear: both;
}

.column_detall_left {
	float: left;
	width: 65%;
	padding: 20px;

	background-color: rgb(255, 255, 255);
}

.column_detall_right {
	float: left;
	width: 35%;
	padding: 20px;
	margin-top: -35px;
	background-color: rgb(255, 255, 255);
}

.column_detall_right h2 {
	font-size: 1.4em;
	line-height: 1.2em;
}

/* Estils de la detall de l'article del categoria */
.texte_detall {
	padding-top: 10px;
}

.texte_detall h2 {
	font-size: 1.6em;
	line-height: 1.2em;
	padding-top: 20px;
}

.texte_detall p {
	font-size: 1.2em;
	line-height: 1.5em;
	font-weight: 500;
}

.texte_detall ul,
dl {
	line-height: 1.5em;
	font-weight: 400;
	padding-left: 20px;
	padding-bottom: 5px;
}

.texte_detall li,
dd {
	font-size: 0.9em;
	padding-bottom: 5px
}

.texte_detall blockquote {
	padding-left: 25px;
	border-left: 1px solid rgb(255, 0, 0);
	font-weight: 500;
}

.texte_detall blockquote p {
	font-size: 0.9em;
	line-height: 1.5em;
}

.box_detall {
	background-color: rgb(229, 225, 254);
	margin: auto;
	width: 100%;
	position: relative;
	text-align: center;
}

.box_detall_titol {
	padding-top: 10px;
	padding-left: 20px;

	font-size: 2.5em;
	line-height: 1.2em;
	text-align: left;
}

.box_detall_subtitol {
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
	font-size: 0.9em;
	line-height: 1.2em;
	text-align: left;
	color: rgb(158, 157, 171);
}

/* Video responsive */
.video-detall {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
}

.video-detall-item {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.video-detall::before {
	display: block;
	content: "";
	padding-top: 56.25%;
}


/* Barra lateral */

/* Images de la barra lateral */
.img_detall_lateral {
	float: left;
	background-color: rgb(255, 255, 255);
	margin: auto;
	width: 100%;
	position: relative;
	text-align: center;
	margin-bottom: 20px;
	overflow: hidden;
}

.img_detall_lateral img {
	width: 100%;
	display: inline-block;
}

/* Titols i subtitols de la barra lateral */
.img_detall_titol_lateral {
	padding: 10px;

	font-size: 1.1em;
	line-height: 1em;
	text-align: left;
}


/* Contenidor dels relacionats, disseny responsive i les seves especificitats */
.container_relacionats {
	width: 95%;
	padding: 20px;
	margin: 0 auto;
	overflow: auto;
}

.container_relacionats p {
	font-size: 0.8em;
	line-height: 1.5em;
	font-weight: 500;
}

.container_relacionats img {
	width: 100%;
	display: inline-block;
}

.relacionats_column {
	float: left;
	width: 25%;
	padding: 20px;
}

.relacionats_row:after {
	content: "";
	display: table;
	clear: both;
}


/* Punts de ruptura pel disseny responsive segons la seva amplada */
/* Amplada Tablet*/
@media screen and (max-width: 960px) {
	.body-container_detall {
		width: 95%;
	}

	.column_detall_left,
	.column_detall_right {
		width: 100%;
	}

	.img_detall_lateral {
		width: 33%;
	}

	.relacionats_column {
		width: 50%;
	}
}

/* Amplada Mòbil*/
@media screen and (max-width: 600px) {

	.column_detall_left,
	.column_detall_right {
		width: 100%;
	}

	.img_detall_lateral {
		width: 100%;
	}

	.relacionats_column {
		width: 100%;
	}
}










/*********************************/
/*********************************/
/* PÀGINA PRESENTACIO I ENLLAÇOS */
/*********************************/
/*********************************/

/* Contenidor de la detall de categoria, disseny responsive i les seves especificitats */
.body-container_presentacio {
	width: 70%;
	padding: 20px;
	margin: 0 auto;
	overflow: auto;
}

.row_detall:after {
	content: "";
	display: table;
	clear: both;
}


.body-container_presentacio h2 {
	font-size: 1.6em;
	line-height: 1.2em;
	padding-top: 20px;
}

.body-container_presentacio h3 {
	font-size: 1.2em;
	line-height: 1.2em;
	padding-top: 20px;
	padding-left: 20px;
	color: rgb(255, 0, 0);
}

.body-container_presentacio p {
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 500;
}

.body-container_presentacio img {
	width: 100%;
	display: inline-block;
}

.body-container_presentacio a {
	font-size: 0.8em;
	color: rgb(0, 0, 255);
	text-decoration: none;
	border-bottom: none;
}

.body-container_presentacio a:hover {
	font-size: 0.8em;
	color: rgb(0, 0, 255);
	text-decoration: none;
	border-bottom: 1px solid;
}

.container_svg_oscar {
	height: 350px;
	text-align: center;

	animation-name: bounceIn;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	animation-direction: alternate;
}

.container_svg_oscar:hover {
	animation-play-state: paused;
}

@keyframes bounceIn {
	0% {
		transform: scale(0.1);
		opacity: 0;
	}

	60% {
		transform: scale(0.9);
		opacity: 1;
	}

	100% {
		transform: scale(0.7);
	}
}


.container_svg_xwing {
	float: left;
	width: 55%;

	height: 400px;
	text-align: left;

	animation-name: moveRight;
	animation-iteration-count: infinite;
	animation-duration: 3s;

}

@keyframes moveRight {
	0% {
		transform: scale(0.2);
		transform: translate(0px, 0px);
		transform: rotate(0deg);
		transform-origin: 50% 100%;
	}

	50% {
		transform: scale(0.5);

	}

	60% {
		transform: scale(1);
		transform: translate(300px, 100px);
		transform: rotate(-45deg);
	}

	100% {
		transform: translate(300px, 0px);
	}
}





.container_svg_death_star {
	float: left;
	width: 45%;

	height: 450px;

	animation-name: zoomIn;
	animation-iteration-count: infinite;
	animation-duration: 3s;

}

@keyframes zoomIn {
	0% {
		transform: scale(0.2);
	}

	100% {
		transform: scale(1.25);
	}
}

/* Punts de ruptura pel disseny responsive segons la seva amplada */
/* Amplada Tablet*/
@media screen and (max-width: 960px) {

	.container_svg_xwing,
	.container_svg_death_star {
		width: 50%;
	}
}

/* Amplada Mòbil*/
@media screen and (max-width: 600px) {

	.container_svg_xwing,
	.container_svg_death_star {
		width: 100%;
	}
}


/* Punts de ruptura pel disseny responsive segons la seva amplada */
/* Amplada Tablet*/
@media screen and (max-width: 960px) {
	.body-container_presentacio {
		width: 95%;
	}

}

/* Amplada Mòbil*/
@media screen and (max-width: 600px) {

	.body-container_presentacio {
		width: 95%;
	}

}